
<h5>Cadastro de Evento</h5>
<p>
    Preencha os campos para criar um evento em sua agenda.
</p>
<hr />

<script> 
    alert('Seja Bem Vindo a MCFL Informatica!')
</script>
<form>

    <div class="row mb-3">
        <div class="col-md-6">
            <label>Nome do Evento:</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Data do Evento:</label>
            <input type="date" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Hora do Evento:</label>
            <input type="time" class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label>Descrição do Evento:</label>
            <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-3">
            <label>Prioridade do Evento:</label>
            <select class="form-select">
                <option>BAIXA</option>
                <option>MÉDIA</option>
                <option>ALTA</option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" value="Realizar Cadastro"
                   class="btn btn-success" />
        </div>
    </div>

</form>

