@*Classe de modelo utilizada nesta página*@
@model AgendaWeb.Presentation.Models.EventoConsultaViewModel

<h5>Consulta de Eventos</h5>
<p>
    Preencha os campos para consultar os eventos de sua agenda.
</p>
<hr />

   @using(Html.BeginForm()) 
   { 


    <div class="row mb-3">
        <div class="col-md-3">
            <label>Data de Início:</label>
            @Html.TextBoxFor(model => model.DataMin,
        new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.DataMin)
            </span>

        </div>
        <div class="col-md-3">
            <label>Data de Término:</label>
            @Html.TextBoxFor(model => model.DataMax,
        new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.DataMax)
            </span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" value="Pesquisar Eventos"
                   class="btn btn-success" />
        </div>
    </div>
    
   }


<table class="table table-hover">
    <thead>
        <tr>
            <th>Nome do Evento</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Prioridade</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="/Agenda/Edicao"
                   class="btn btn-primary btn-sm">Alterar</a>
                <a href="#" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                Quantidade de eventos: 0
            </td>
        </tr>
    </tfoot>
</table>

